.map-controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.map-controls > :not(:last-child) {
    margin-right: 20px;
}

.form-label {
    display: inline-block;
    width: 215px;
    text-align: right;
}

.map {
    border: 1px solid lightgray;
}
